@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Lato:wght@300;400&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;
  @apply text-white;
}

span {
  background-image: url("./assets/brush.png");
  background-repeat: no-repeat;
  background-size: contain;
}
